<%# Write your code here! %>
<!DOCTYPE html>
<html>
<body>

  <form action="/greet" method="post">
    <label for="user_name">user_name: </label><input type="text" name=":user_name" id=":user_name">
    <input type="submit">
  </form>

</body>
</html>
