<%# Write your code here! %>
<!DOCTYPE html>
<html>
<body>

  <form>
    <label for="user_name">Username: </label><input type="text" name="user_name" id="user_name">
    <input type="submit">
  </form>

</body>
</html>
